@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  
  color: #f9faf8;
}


body {
  height: 100vh;
  
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
 
}

section {
  
  padding: 10vh 12%;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding-top: 1vh;
  padding-bottom: 1vh;
  
}

.awesome .text {
  flex-shrink: 1;
  max-width: 50%; 
}

.awesome .placeholder {
  
  flex-shrink: 0;
  flex-basis: 50%;
  height: 40vh; 
  box-sizing: border-box;
  background-color: #6d747e;
  display: flex;
  align-items: center;
  justify-content: center;
text-align: center;
  
  
}


.awesome {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 5%;
  background-color: #1f2937;
  padding-bottom: 15vh;
  
}

.random {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.box {
  width: 12vw; 
  height: 12vw;
  border-radius: 15px;
  border: #3882f6 solid 4px ;
}

.container {
  display: flex;
  gap: 5vw;
}

.container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 12vw;
  font-size: 16px;
}

.container > div > p {
  color:  #1f2937;
}

.quote {
  padding-left: 20%;
  padding-right: 20%;
}

.quote p {
  text-align: end;
  color:  #1f2937;
}

.quote h3 {
color:  #1f2937;
}

.action {
display: flex;
justify-content: center;
align-items: center;
}

.blue-box  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: #3882f6;
  border-radius: 8px;
  width: 50%;
  padding: 5% 8%;
  flex-grow: 1;

}

.blue-box p {
  margin: 1px;

}

button {
  background-color: #3882f6;
  border-radius: 8px;
  padding: 8px 30px;
  font-weight: 700;
  border: none;
}

.footer {
  text-align: center;
  background-color: #1f2937;
  padding: 2vh 12%;
}